.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15pt;
    color: black;
}

body
{
    background-size: cover;
}

.div_speed
{
    float: left;
}

#speed
{
    font-size: 23px;
    margin: 15px;
}

#song
{
    font-size: medium;
}

canvas
{
    border:5px solid white;
    border-radius: 20px;
    margin: 20px;
    border-left: 20px;
}